.avenir-45 { font-family: var(--font-avenir); font-weight: 400; font-size: 45px; line-height: 1.2; }
.avenir-14 { font-family: var(--font-avenir); font-weight: 400; font-size: 14px; }
.avenir-12 { font-family: var(--font-avenir); font-weight: 400; font-size: 12px; }

.mont-regular-15 { font-family: var(--font-montserrat); font-weight: 400; font-size: 15px; }
.mont-medium-15  { font-family: var(--font-montserrat); font-weight: 500; font-size: 15px; }
